/*#### GENERAL ####*/

$light-grey: #f0f0f0;
$dark-grey: #828282;

@import './navbar.scss';

body {
    margin: auto;
    padding: 0;
    font-family: 'roboto';
    max-width: 1920px;
    min-width: 280px;
}

/*#### HEADER ####*/

.logonav {
    position: absolute;
    top: 8px;
    margin-left: 10px;
}

/*#### PRODUCT ####*/

.bg_product {
    background-color: $light-grey;
    padding: 20px;
    margin-top: 61px;
    margin-bottom: 62px;
}

.product {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#camera_image {
    width: 68%;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.card_1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border: 5px solid white;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    border-radius: 0 15px 15px 0;
    h2 {
        margin-bottom: 0;
    }
    form {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    #productQuantity {
        margin-bottom: 16px;
    }
}

.add_cart {
    cursor: pointer;
    text-decoration: none;
    width: 50%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    background: rgb(230, 133, 0);
    background: linear-gradient(132deg, rgb(230, 133, 0) 0%, rgb(137, 82, 254) 98%);
    box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    transition: 250ms;
    &:hover {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    }
}

#success_type {
    margin-top: 10px;
   // margin-bottom: 20px;
    color: green;
}

.error {
    color: red;
    margin-top: 5px;
}

#camera_description {
    margin-left: 15px;
    margin-right: 15px;
}

span {
    font-weight: bold;
}
#optionSelect {
    width: 90%;
    height: 30px;
    
}

/*#### FOOTER ####*/
@import "./footer.scss";
/*#### POPUP ####*/
@import "./popup.scss";

/*#### MEDIA ####*/

@media (max-width: 1440px) {
    .product {
        width: 70%;
    }
}

@media (max-width: 1024px) {
    .product {
        width: 80%;
    }
}

@media (max-width: 900px) {
    .product {
        flex-direction: column;
    }

    #camera_image {
        width: 80%;
        margin: auto;
        border-radius: 15px 15px 0 0;
    }

    .card_1 {
        width: 80%;
        margin: auto;
        border-radius: 0 0 15px 15px;
        border: none;
    }
}



@media (max-width: 450px) {

    #camera_image {
        width: 95%;     
    }

    .card_1 {
        width: 95%;
    }

    .bg_product {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    footer {

        .about {
            width: 80%;
        }
        .assistance {
            width: 80%;
        }
    }
}

@media (max-width: 375px) {
    .product{
        width: 100%;
    }
}
