/*#### GENERAL ####*/

$light-grey: #f0f0f0;
$dark-grey: #828282;

@import './navbar.scss';

body {
    margin: auto;
    padding: 0;
    font-family: 'roboto';
    max-width: 1920px;
    min-width: 280px;
}

/*#### HEADER ####*/

.logonav {
    position: absolute;
    top: 8px;
    margin-left: 10px;
}

/*#### PRODUCTS ####*/

.info {
    text-align: center;
    line-height: 25px;
    padding: 30px;

    h1 {
        font-size: 30px;
    }
}

/*#### PRODUCTS ####*/

.bg_products {
    background-color: $light-grey;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

#cameras {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;  
    /*width: 70%;*/
    margin-top: 10px;
    margin: auto;
    
}

.recap {
    display: flex;
    width: 30%;
    height: 180px;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    transition: 250ms ease;
    &:hover {
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
    }
}



.camera {
    display: flex;
    width: 30%;
    height: 180px;
    border: 5px solid white;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    transition: 250ms ease;
    &:hover {
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.75);
        .more_info {
            margin: 0px;
        }
    }

    &_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_lense {
        height: 20%;
    }
    &_description {
        height: 50%;
    }
    &_id {
        height: 10%;
    }
    &_name {
        height: 20%;
    }
    &_price {
        position: absolute;
        top: 0px;
        right: 30px;
        display: flex;
        font-weight: bold;
        height: 35%;
        align-items: center;
        justify-content: center;
    }
}

.card_1 {
    width: 40%;
}

.card_2 {
    width: 60%;
    margin-left: 2%; 
    position: relative;
    p {
        margin: 0; 
    }
    h2 {
        margin: 0;
    }
}

.shopping_cart {
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: center;
    .fas {
        font-size: 90px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: -10px;
        color: $dark-grey;
    }
    a {
        margin-top: 10px;
        text-decoration: none;
        width: 100%;
        height: 38%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 15px;
        background: rgb(230, 133, 0);
        background: linear-gradient(132deg, rgb(230, 133, 0) 0%, rgb(137, 82, 254) 98%);
        box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
        .fas {
            display: none;
        }
    }
}

.recap_cart {
    display: flex;
    width: 60%;
    margin-left: 2%; 
    h2 {
        margin: 0;
        margin-top: 10px;
    }
}

.more_info {
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    background: rgb(230,133,0);
    background: linear-gradient(132deg, rgb(230,133,0) 0%, rgba(137,82,254,1) 98%);
    /*width: 160px;*/
    width: 102%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: -80px;
    height: 38%;
    color: white;
    transition: 250ms;
    border-radius: 15px;
    text-decoration: none;
}

/*#### FOOTER ####*/

footer{
    background-color: $dark-grey;
    color: $light-grey;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 35px;
    p {
        font-size: 20px;
        padding-bottom: 8px;
        position: relative;
        &::after{
            content: "";
            background-color: $light-grey;
            width: 40px;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    li{
        line-height: 30px;
    }
    ul{
        padding: 0;
        margin: 0;
    }
    a{
        text-decoration: none;
        color: $light-grey;
    }
    .about{
        width: 50%;
    }
    .assistance{
        width: 50%;
    }
}

/*#### POPUP ####*/

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.emailbold {
    font-weight: bold;
    a {
        color: $dark-grey;
    }
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popupcontent {
    margin: 200px auto;
    padding: 20px;
    background: $light-grey;
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 0.5s ease-in-out;
    h2 {
        margin-top: 0;
        margin-left: 0;
    }
    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        &:hover{
           color: $dark-grey; 
           transform: rotate(90deg);
        }
    }
    .content {
        max-height: 30%;
        overflow: auto;
        p{
            margin-bottom: 10px;
        }
    }
  }

  .title {
    position: relative;
    padding-bottom: 8px;
    font-weight: lighter;
    &::after{
        content: "";
        background-color: $dark-grey;
        width: 40px;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

form {
    display: flex;
    flex-direction: column;
}

.type {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

input {
    width: 95%;
    border-style: none;
    outline: none;
    border: $dark-grey 1px solid;
    border-radius: 5px;
    padding: 5px;
}
textarea {
    width: 95%;
    resize: none;
    border-style: none;
    outline: none;
    border:$dark-grey 1px solid;
    border-radius: 5px;
    padding: 5px;
}
.submit {
    margin: auto;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-style: none;
    background: linear-gradient(132deg, rgba(230,133,0,0.8743872549019608) 0%, rgba(137,82,254,1) 98%);
    height: 25px;
    width: 20%;
    border-radius: 12px;
    color: white;
    box-shadow: 10px 7px 26px -16px rgba(0,0,0,1);
    transition-duration: 150ms;
    &:hover{
        box-shadow: 10px 7px 26px -10px rgba(0,0,0,1);
    }
}

::placeholder {
    font-family: 'roboto';
}

/*#### MEDIA ####*/

@media (max-width: 1620px) {
    .camera_price {
        right: 15px;
    }
}

@media (max-width: 1440px) {
    .camera {
        width: 45%;
    }

    .recap {
        width: 45%;
    }
}

@media (max-width: 1024px) {
    .camera {
        width: 80%;
    }

    .recap {
        width: 80%;
    }
    .popupcontent {
        width: 60%;
    }
}

@media (max-width: 550px) {
    .camera {
        width: 95%;
    }

    .recap {
        width: 95%;
    }
    .popupcontent {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .card_1 {
        width: 50%;
    }

    .card_2 {
        width: 50%;
    }

    .camera {
        &_description {
            display: none;
        }
        &_id {
            display: none;
        }
        &_price {
            position: inherit;
            align-items: inherit;
            justify-content: inherit;
            right: 0;
            height: 10%;
        }
        &_name {
            height: 30%;
        }
        &_lense {
            height: 30%;
            
        }
    }
    .more_info {
        margin-bottom: 0;
        height: 25%;
    }
    footer {

        .about {
            width: 80%;
        }
        .assistance {
            width: 80%;
        }
    }

    .shopping_cart {
        width: 50px;
        position: relative;
        .fas {
            display: none;
        }
        a {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            
            .fas {
                display: inline;
                font-size: 20px;
                margin-top: 0;
                margin-left: 0;
            }
            p {
                display: none;
            }
        }
    }
    
    .recap_cart {
        width: 100%;
        margin: 0;
        h2 {
            margin: 0;
            margin-top: 10px;
            margin-left: 2%;
        }
    }
      .recap {
          flex-direction: row-reverse;
      }
}
